<section class="gameview">
    <div class="btn-game" *ngIf="!tableScore">
        <button (click)="startGame()">Iniciar jugadores</button>
        <button [disabled]="clickPressed" (click)="goGame()">Empezar el juego</button>
        <button [disabled]="clickPressed" (click)="updateTable()">Actualizar el juego</button>
    </div>
    <section class="game-content">

        <div class="table-game" *ngIf="!tableScore">
            <table>
                <tr>
                    <th></th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                </tr>
                <tr *ngFor="let row of boxs; let i = index">
                    <td>{{letters[i]}}</td>
                    <td *ngFor="let column of row">
                        <section [hidden]="column.usuario_vida == 5">
                            <img *ngIf="column.usuario_id" src="../assets/img/avatars/{{column.usuario_id}}.png" class="img-avatar" style="width: 3em;">
                            <img [hidden]="column.usuario_id || deadBoard.indexOf(column.casilla) == -1" src="../assets/img/blood.png" alt="sangre" class="img-blood" style="width:3em;">
                        </section>
                    </td>
                </tr>
            </table>
        </div>
        <section class="section-player" *ngIf="tableScore">
            <table class="table-player">
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Vida</th>
                    <th>Muertes</th>
                </tr>

                <tr *ngFor="let user of users" class="{{(user.team == 0)? 'white' : 'black'}} {{(user.estado == 0 || user.usuario_vidas == 5)? 'table-dead' : ''}}" >
                    <td> <img src="../assets/img/avatars/{{user.id}}.png" alt="" style="width: 2em">
                    </td>
                    <td>{{user.usuario_nombres}}</td>
                    <td>{{user.usuario_vidas}}</td>
                    <td>
                        <img *ngFor="let id of (user.muertes)? user.muertes.split(',') : []" src="../assets/img/avatars/{{id}}.png" alt="" style="width: 2em">
                    </td>
                </tr>
            </table>
        </section>
    </section>
</section>

<div class="splash" [ngClass]="{'slide-top': initGameCls}">
    <div class="door">
        <!-- <img class="door " src="./assets/img/splash.jpg " alt=" ">-->
        <button class="pass " (click)="startGame() "></button>
    </div>
</div>

<div class="modal-winner-content" [ngStyle]="{ 'display': displayModalWinner}">
    <div class="modal-winner">
        <h1>{{ (userWinner)? 'Ganador' : 'Todos murieron =D' }}</h1>
        <section *ngIf="userWinner">
            <img id="avatar" src="../assets/img/avatars/{{userWinner.usuario_id}}.png" alt="">
            <h2>{{ userWinner.usuario_nombres }}</h2>
        </section>
        <button (click)="startGame()">Seguir jugando</button>
    </div>
</div>