<section class="gameview">
    <div class="btn-game">
        <button (click)="restartGame()">Empezar el juego</button>
        <button (click)="updateTable()">Actualizar el juego</button>
    </div>
    <div class="table-game">
        <table>
            <tr>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
            </tr>
            <tr *ngFor="let row of boxs; let i = index">
                <td>{{letters[i]}}</td>
                <!--<td *ngFor="let column of row">{{column.usuario_id}}</td>-->
                <td *ngFor="let column of row">
                    <img *ngIf="column.usuario_id" src="../assets/img/blacks/black.png" alt="" style="width: 3em">
                </td>
            </tr>
        </table>
    </div>
    <section class="section-player">
        /
        <!--<table class="table-player">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Vida</th>
                <th>Muertes</th>
            </tr>

            <tr *ngFor="let user of users">
                <td>{{user.usuario_id}}</td>
                <td>{{user.usuario_nombres}}</td>
                <td>{{user.usuario_color}}</td>
                <td>{{user.usuario_vida}}</td>
                <td>{{user.muertes}}</td>
            </tr>
        </table>-->
    </section>
</section>

<div class="splash" [ngClass]="{'slide-left': initGameCls}">
    <div class="door" [ngClass]="{'slide-top': startGameCls}">
        <!-- <img class="door" src="./assets/img/splash.jpg" alt="">-->
        <button class="pass" (click)="restartGame()"></button>
    </div>
</div>