/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
header {
    font-family: 'Black Ops One', cursive;
    height: 5em;
    text-align: center;
    margin-bottom: 1em;
    background-image: url("assets/img/header.jpg");
    background-size: contain;
}

header h1 {
    color: white;
}

.fl-left {
    float: left;
    width: 4em;
    margin-left: 20%;
}

.fl-right {
    float: right;
    width: 5em;
    margin-right: 20%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("https://cdn.wallpapersafari.com/29/49/PjQODh.jpg");
    /*  background-image: url("https://wallpaperscraft.com/image/call_of_duty_square_houses_tanks_fire_battle_19754_3840x2160.jpg");
    background-size: cover;*/
    margin: 0;
}