/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nosifer');
header {
    height: 5em;
    text-align: center;
    margin-bottom: 1em;
}

header h1 {
    font-family: 'Nosifer', cursive;
    display: inline;
}

.fl-left {
    float: left;
    width: 4em;
    margin-left: 20%;
}

.fl-right {
    float: right;
    width: 5em;
    margin-right: 20%;
}

body {
    background-image: url("https://cdn.wallpapersafari.com/29/49/PjQODh.jpg");
    /*  background-image: url("https://wallpaperscraft.com/image/call_of_duty_square_houses_tanks_fire_battle_19754_3840x2160.jpg");
    background-size: cover;*/
    margin: 0;
}